<div class="container mt-5">
    <div *ngIf="loading==true" class="d-flex justify-content-center mt-5">
        <app-spinner></app-spinner>
    </div>
    <div class="row" *ngIf="loading==false">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center titulo">Registrar Usuario</h3>
                    <form [formGroup]="registerForm" (ngSubmit)="registrarUsuario()">
                        <div class="mb-3">
                            <input type="text" formControlName="usuario" class="form-control form-control-lg"
                                placeholder="Correo">
                            <span class="text-danger"
                                *ngIf="registerForm.get('usuario')?.hasError('required') && registerForm.get('usuario')?.touched">
                                Por favor ingrese su correo electronico
                            </span>
                            <span class="text-danger"
                                *ngIf="registerForm.get('usuario')?.hasError('email') && registerForm.get('usuario')?.touched">
                                El correo electronico ingresado es invalido.
                            </span>
                        </div>
                        <div class="mb-3">
                            <input type="password" formControlName="password" class="form-control form-control-lg"
                                placeholder="Contraseña">
                            <span class="text-danger"
                                *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched">
                                Por favor ingrese su nueva contraseña.
                            </span>
                            <span class="text-danger"
                            *ngIf="registerForm.get('password')?.hasError('minlength') && registerForm.get('password')?.touched">
                            La contraseña debe tener al menos 6 caracteres.
                        </span>
                        </div>
                        <div class="mb-3">
                            <input type="password" formControlName="repetirPassword" class="form-control form-control-lg"
                                placeholder="Repetir Contraseña">
                            <span class="text-danger" *ngIf="registerForm.hasError('notSame')">
                                Las contraseñas no coinciden.
                            </span>
                        </div>
                        <button type="button" routerLink="/usuario" class="btn btn-secondary btn-lg">Volver</button>
                        <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary btn-lg float-end">Aceptar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>