<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center titulo">Recuperar contraseña</h3>
                    <form [formGroup]="recuperarForm" (ngSubmit)="recuperarPassword()">
                        <div class="mb-3">
                            <input type="text" formControlName="usuario" class="form-control form-control-lg" placeholder="Ingrese su correo">
                            <div class="text-danger" *ngIf="recuperarForm.get('usuario')?.hasError('required') && recuperarForm.touched">
                                El correo electronico es necesario.
                            </div>
                            <div class="text-danger" *ngIf="recuperarForm.get('usuario')?.hasError('email') && recuperarForm.touched">
                                El correo electronico es invalido.
                            </div>
                        </div>
                    </form>
                    <button routerLink="/usuario" class="btn btn-secondary btn-lg">Volver</button>
                    <button type="submit" [disabled]="recuperarForm.invalid" class="btn btn-primary btn-lg float-end">Recuperar</button>
                </div>
            </div>
        </div>
    </div>
</div>